input {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.15px;
    color: #858585;
}

button {
    cursor: pointer;
    font-family: "Poppins";
    size: 16px;
    line-height: 24px;
    font-weight: 700;
}
